envAxis {
  name: "DOCKER_IMAGES"
# value: "centos:6"
# value: "centos:7"
  value: "debian:8"
  value: "debian:9"
# value: "fedora:20"
# value: "fedora:21"
# value: "fedora:22"
# value: "fedora:23"
  value: "fedora:24"
  value: "fedora:25"
  value: "fedora:26"
  value: "fedora:27"
  value: "fedora:28"
  value: "fedora:29"
# value: "fedora:30"
# value: "ubuntu:12.04"
  value: "ubuntu:14.04"
  value: "ubuntu:16.04"
  value: "ubuntu:18.04"
}
envAxis {
  name: "ANSIBLE_VERSIONS"
  value: "1.4"
  value: "1.4.4"
  value: "1.5.4"
  value: "1.6.1"
  value: "1.7.2"
  value: "1.8.4"
  value: "1.9.2"
  value: "2.0.0.2"
  value: "2.1.0.0"
  value: "2.2.1.0"
  value: "2.5.1"
}
suppress { service: CIRCLECI env { name: "DOCKER_IMAGES" value: "centos:7" } }
suppress { service: CIRCLECI env { name: "DOCKER_IMAGES" value: "debian:8" } }
suppress { service: CIRCLECI env { name: "DOCKER_IMAGES" value: "debian:9" } }
suppress { service: CIRCLECI env { name: "DOCKER_IMAGES" value: "fedora:20" } }
suppress { service: CIRCLECI env { name: "DOCKER_IMAGES" value: "fedora:22" } }
suppress { service: CIRCLECI env { name: "DOCKER_IMAGES" value: "fedora:23" } }
suppress { service: CIRCLECI env { name: "DOCKER_IMAGES" value: "fedora:24" } }
suppress { service: CIRCLECI env { name: "DOCKER_IMAGES" value: "fedora:25" } }
suppress { service: CIRCLECI env { name: "DOCKER_IMAGES" value: "fedora:26" } }
suppress { service: CIRCLECI env { name: "DOCKER_IMAGES" value: "fedora:27" } }
suppress { service: CIRCLECI env { name: "DOCKER_IMAGES" value: "fedora:28" } }
suppress { service: CIRCLECI env { name: "DOCKER_IMAGES" value: "fedora:29" } }
suppress { service: CIRCLECI env { name: "DOCKER_IMAGES" value: "ubuntu:12.04" } }
suppress { service: CIRCLECI env { name: "DOCKER_IMAGES" value: "ubuntu:14.04" } }
suppress { service: CIRCLECI env { name: "DOCKER_IMAGES" value: "ubuntu:18.04" } }
suppress { service: TRAVIS env { name: "ANSIBLE_VERSIONS" value: "1.4.4" } }
suppress { service: TRAVIS env { name: "ANSIBLE_VERSIONS" value: "1.5.4" } }
suppress { service: TRAVIS env { name: "ANSIBLE_VERSIONS" value: "1.6.1" } }
suppress { service: TRAVIS env { name: "ANSIBLE_VERSIONS" value: "1.7.2" } }
suppress { service: TRAVIS env { name: "ANSIBLE_VERSIONS" value: "1.8.4" } }
suppress { service: TRAVIS env { name: "ANSIBLE_VERSIONS" value: "1.9.2" } }
suppress { service: TRAVIS env { name: "ANSIBLE_VERSIONS" value: "2.0.0.2" } }
suppress { service: TRAVIS env { name: "ANSIBLE_VERSIONS" value: "2.1.0.0" } }
suppress { service: TRAVIS env { name: "ANSIBLE_VERSIONS" value: "2.2.1.0" } }
suppress { service: TRAVIS env { name: "DOCKER_IMAGES" value: "fedora:21" } }
# TODO: This doesn't work for unknown reason
suppress { service: CIRCLECI
  env { name: "ANSIBLE_VERSIONS" value: "1.9.2" }
  env { name: "DOCKER_IMAGES" value: "ubuntu:16.04" }
}
suppress { service: TRAVIS
  env { name: "ANSIBLE_VERSIONS" value: "1.4" }
  env { name: "DOCKER_IMAGES" value: "debian:9" }
}
suppress { service: TRAVIS
  env { name: "ANSIBLE_VERSIONS" value: "1.4" }
  env { name: "DOCKER_IMAGES" value: "ubuntu:18.04" }
}
