language: ruby
rvm:
- 2.2
- 2.1
- 2.0
- 1.9.3
sudo: required
services:
- docker
script:
- >
  wget -O- bit.ly/ansibletest | env
  DOCKER_IMAGES="ubuntu:14.04 ubuntu:16.04 fedora:21 fedora:24
  debian:8"
  ANSIBLE_VERSIONS="1.4 1.6.1 1.8.4 2.1.0.0" sh
after_failure:
- cat role-tester-ansible-master/.kitchen/logs/*.log | grep -v '^I, '
notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    secure: AJphntrwEM/SWf/EcovjTSDmqZfdrr0xf9lV89n1oqmrZl9TZqUkPG/ppuR+na1UDhkPRRPjhne1cNRU6wOJYJ1HMXUXKqCYII/0pWWjR9RZ8SrmWGKkjHdY0HzGnGzTSL1YqShruooO1ihfTer38C/AOS3flF6Hw2OaWaEmEUiKO/sluVih9N6yJPetBp3a179y02EzeFVv/lZ5/xbEeAu0ArIOEkQ3jSatxm69Wq2CzMkaEYj4vB7pMusA48HZWKaLOO7/bLICE0JrRNxmROoqkaDZXuX2FJYBQZf401kEREx3bmtyJ4F6b0S+sEz+LshclM7ZQg82NbBTNMoj1KoRnc1n54Rw6T1b0p8DBmtw/YDsIQgWH8PvLKm+YmRHnLyh1RlbCm2Bbo998k5BXmmD8K7iIW5gxOAps0Es6j7jGBNjLEpJ7RrEJlzkBV8TWef8jYI44allQYIReAuJFtvPj+btwVRu18J+EFsMQiRwSWrHjg349WFVVI/Tgze6x77m0WLHaOcBwNz0xt3BY4I0pWHiLMqYByKQgeRn489iCKho8Srht347rui4EQmunl5iuaBI9mMjP36ccscFlaBUJmSFuuFuQ0rzdaBhDimySjZmXBY7tYceZLyKIFMJ+/N8pvcPAc2yL5+5nQBH3CNjOFIcfuBq/9o7taA4kXw=
